.herobutton {
    background-color: #D71440;
    border: #979797;
    border-radius: 20px;
    color: white;
    width: 284.42px;
    height: 48px;
    font-size: 18px;
    &:hover {
        cursor: pointer;
    }
}