@font-face {
    font-family: 'ProbaProBold';
    src: url(../fonts/ProbaPro/ProbaPro-Bold.woff) format('woff');
}

@font-face {
    font-family: 'ProbaProXtraLite';
    src: url(../fonts/ProbaPro/ProbaPro-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'ProbaProLite';
    src: url(../fonts/ProbaPro/ProbaPro-Light.woff) format('woff');
}

@font-face {
    font-family: 'ProbaProLiteItalic';
    src: url(../fonts/ProbaPro/ProbaPro-LightItalic.woff) format('woff');
}

@font-face {
    font-family: 'ProbaProMedium';
    src: url(../fonts/ProbaPro/ProbaPro-Medium.woff) format('woff');
}

@font-face {
    font-family: 'ProbaProRegular';
    src: url(../fonts/ProbaPro/ProbaPro-Regular.woff) format('woff');
}

@font-face {
    font-family: 'ProbaProSemiBold';
    src: url(../fonts/ProbaPro/ProbaPro-SemiBold.woff) format('woff');
}