@import './fonts.scss';
.hero {
    width: 689px;
    height: 229px;
    &__title {
        text-transform: uppercase;
        font-family: ProbaProBold, sans-serif;
        padding-bottom: 8px;
        font-size: 18px;
        margin: 0;
    }
    &__main {
        padding-bottom: 20px;
        border: #707070;
        margin: 0;
        line-height: 1;
        font-size: 64px;
        font-family: ProbaProBold, sans-serif;
    }
    &__submain {
        font-family: ProbaProRegular, sans-serif;
        font-size: 16px;
        line-height: 1;
        padding-bottom: 40px;
        margin: 0;
        width: 512px;
    }
}

@media only screen and (max-width:800px) {
    .hero {
        width: 100%;
        height: 100%;
        &__title {
            text-transform: uppercase;
            font-family: ProbaProBold, sans-serif;
            padding-bottom: 8px;
            font-size: 14px;
            margin: 0;
        }
        &__main {
            padding-bottom: 20px;
            border: #707070;
            margin: 0;
            line-height: 1;
            font-size: 50px;
            font-family: ProbaProBold, sans-serif;
        }
        &__submain {
            font-family: ProbaProRegular, sans-serif;
            font-size: 14px;
            line-height: 1;
            padding-bottom: 40px;
            margin: 0;
            width: 90%;
        }
    }
}