.home {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    position: relative;
    height: 625px;
    width: 100vw;
    box-sizing: border-box;
    &__hero {
        padding: 60px 0;
        width: 25%;
        z-index: 1;
    }
    &__image {
        background: url(../images/header-image.png) no-repeat;
        background-size: contain;
        height: 100%;
        min-width: 50%;
    }
    &__bar {
        position: absolute;
        bottom: -7px;
        width: 100vw;
        &>* {
            width: 100vw;
        }
        &--tag {
            bottom: 0;
            position: absolute;
        }
    }
}

@media only screen and (max-width:1500px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 4vw 10vw;
        height: 625px;
        width: 100vw;
        box-sizing: border-box;
        &__hero {
            width: 100%;
            z-index: 1;
        }
        &__image {
            display: none;
        }
    }
}