@import './fonts.scss';
.progressBarTag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 206px;
    background-color: transparent;
    * {
        color: white;
        font-family: ProbaProBold;
        padding: 3px;
    }
    &__figure {
        padding: 0;
        margin: 0;
        width: 170px;
        height: 170px;
        background: linear-gradient(to bottom right, #D71440, #9D0F1A);
        border-radius: 50%;
        & {
            text-align: center;
        }
    }
    &__caption--1 {
        font-size: 40px;
        text-align: center;
    }
    &__caption--2 {
        font-size: 18px;
        text-align: center;
    }
    &__decimal {
        font-size: 20px;
        font-family: ProbaProRegular;
    }
    &__wallet {
        padding-top: 29px;
    }
}

@media only screen and (max-width:1500px) {
    .progressBarTag {
        justify-content: flex-end;
        * {
            padding: 2px;
        }
        &__figure {
            width: 150px;
            height: 150px;
        }
        &__caption--1 {
            font-size: 25px;
        }
        &__caption--2 {
            font-size: 12px;
        }
        &__decimal {
            font-size: 15px;
        }
        &__wallet {
            padding-top: 15px;
        }
    }
}